.card {
  cursor: pointer;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.3s;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }

  .card-image {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;

    &-avers {
      transform: rotateY(180deg);
    }
  }

  &.flipped {
    transform: rotateY(180deg);
  }

  &.inactive {
    visibility: hidden;
  }
}