.container {
  margin: 0 auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

.background {
  align-items: center;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.btn {
  background-color: green;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(25, 25, 25, 0.5);
  color: white;
  padding: 20px 50px;
  position: relative;

  &:hover {
    background: rgba(140, 136, 136, 0.7);
  }
  &__first {
    margin-right: 100px;
  }
  &__reset {
    background-image: url("./background.jpg");
    background-position: center;
    text-transform: uppercase;
    &:hover {
      background: rgba(195, 195, 195, 0.75);
      color: black;
    }
  }
  &__small {
    color: black;
    padding: 0 10px;
    position: relative;
    top: -10px;
    &:hover {
      color: rgba(25, 25, 25, 0.7);
    }
  }
}
