body {
  background: greenyellow;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

.btn {
  background-color: green;
  border-radius: 4px;
  color: white;
  padding: 20px 50px;
  &:hover {
    background: rgba(140, 136, 136, 0.7);
  }
  &__first {
    position: absolute;
  }
}