.background {
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.mainview {
  display: flex;
  justify-content: center;
  &__container {
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: white;
    font-size: 3rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}