.mainview {
  &__container {
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: white;
    font-size: 3rem;
  }

  &__button {
    display: flex;
    margin-top: 50px;
  }
}

.question {
  color: white;
  cursor: pointer;
   &:hover {
     color: #575353;
   }
}